@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

html, body{
    font-family: 'NanumSquare', sans-serif !important;
    color: #34373c;
    letter-spacing: -0.5px;
    margin: 0;
}

.container:not(.pd-t28):not(.pd-t20):not(.pd-t32){
    padding-top: 50px;
}

/* font-weight */
.bold{
    font-weight: bold;
}
.normal{
    font-weight: normal;
}
/* font-weight */

/* text-color */
.color-blue{
    color: #1960eb;
}
.color-white{
    color: #fff;
}
.color-pink{
    color: #f35984;
}
.color-gray{
    color: #89909d;
}
.color-145ba4{
    color: #145ba4;
}
.color-green{
    color: #18c495;
}
/* text-color */

/* btn */
.btn-wrap{
    position: fixed;
    bottom: 36px;
    /*top : 300px;*/
    width: calc(100% - 50px);
    padding: 0 25px;
}



.btn-wrap p{
    text-align: center;
}

.btn-wrap button{
    width: 100%;
    border-radius: 6px;
    height: 57px;
    line-height: 57px;
    border: none;
    font-family: 'NanumSquare', sans-serif !important;
    padding: 0;
}

.btn-wrap button:disabled,
.btn-wrap button.disabled{
    background-color: #eeeff7 !important;
    color: #bec4d0;
}

button{
    border: none;
    background-color: transparent;
}

button:focus{
    outline: none;
}

.btn-wrap.btn-two{
    padding: 0;
}

.btn-wrap.btn-two button{
    border-radius: 6px;
    font-size: 16px;
    height: 57px;
    line-height: 57px;
}

.btn-wrap.btn-two button.btn-white{
    border: 1px solid #d8dee8;
    margin-right: 9px;
    background-color: #fff;
}

.btn-wrap.btn-two button.btn-blue{
    color: #fff;
    background-color: #1960eb;
}

.btn-wrap.btn-one button.btn-blue{
    color: #fff;
    background-color: #1960eb;
}

.btn-wrap.btn-two button.btn-blue:disabled,
.btn-wrap.btn-two button.btn-blue.disabled{
    background-color: #eeeff7;
    color: #bec4d0;
}
/* btn */

/* bgColor */
.bgColor-green{
    background-color: #21b88f;   
}
.bgColor-blue{
    background-color: #1960eb;   
}
.bgColor-f0f8ff{
    background-color: #f0f8ff;   
}
/* bgColor */

/* font-size */
.fs22{
    font-size: 22px;
}
.fs18{
    font-size: 18px;
}
.fs16{
    font-size: 16px;
}
.fs14{
    font-size: 14px;
}
.fs13{
    font-size: 13px;
}
.fs12{
    font-size: 12px;
}
/* font-size */

/* margin*/
.mr-t137{
    margin-top: 137px;
}
.mr-t48{
    margin-top: 48px;
}
.mr-t40{
    margin-top: 40px;
}
.mr-t39{
    margin-top: 39px;
}
.mr-t36{
    margin-top: 36px;
}
.mr-t30{
    margin-top: 30px;
}
.mr-t28{
    margin-top: 28px;
}
.mr-t24{
    margin-top: 24px;
}
.mr-t20{
    margin-top: 20px;
}
.mr-t16{
    margin-top: 16px;
}
.mr-t14{
    margin-top: 14px;
}
.mr-t12{
    margin-top: 12px;
}
.mr-t10{
    margin-top: 10px;
}
.mr-t8{
    margin-top: 8px;
}
.mr-r15{
    margin-right: 15px;
}
.mr-r12{
    margin-right: 12px;
}
.mr-r10{
    margin-right: 10px;
}
.mr-b30{
    margin-bottom: 30px;
}
.mr-b12{
    margin-bottom: 12px;
}
.mr-b0{
    margin-bottom: 0;
}
.mr-l20{
    margin-left: 20px;
}
/* margin*/

/* padding */
.pd-lr25{
    padding: 0 25px;
}
.pd-t32{
    padding-top: 32px;
}
.pd-t28{
    padding-top: 28px;
}
.pd-t20{
    padding-top: 20px;
}
.pd-b134{
    padding-bottom: 134px;
}
.pd0{
    padding: 0;
}
/* padding */

/* line-height */
.lh145{
    line-height: 1.45;
}
/* line-height */

/* form */
.form > ul > li{
    margin-bottom: 6px;
}

.form input{
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.5px;
}

.form input:focus{
    border-bottom-color: #1960eb;
}

.form input::placeholder{
    font-weight: normal;
    color: #c5ccd8;
}

.input-title{
    color: #89909d;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 13px;
}

input{
    border:none;
    border-bottom: 1px solid #c5ccd8;
    padding: 0 0 12px 0;
    font-family: 'NanumSquare', sans-serif !important;
}

input:focus,
select:focus{
    outline: none;
}

.feedback-msg{
    margin-top: 5px;
    color: #f35984;!important;
    font-size: 12px;
    width: 100%;
    height: 18px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
}

.feedback-msg.active{
    opacity: 1;
    visibility: visible
}


.info-msg{
    margin-top: 5px;
    color: #f35984;!important;
    font-size: 12px;
    width: 100%;
    height: 18px;
    opacity: 1;
    visibility: visible;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
}


.view-korean-msg{
    margin-top: 5px;
    color: #000000;
    font-size: 12px;
    width: 100%;
    height: 18px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
}

.view-korean-msg.active{
    opacity: 1;
    visibility: visible
}

.selectbox{
    border-bottom: 1px solid #c5ccd8;
    background-image: url('../img/icons/dropdown-btn.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 2px;
}

.selectbox > span{
    font-size: 18px;
    color: #c5ccd8;
    position: relative;
    top: 3px;
}

.select-list-box{
    position: absolute;
    border-radius: 6px;
    box-shadow: 2px 6px 16px 0 rgba(57, 130, 220, 0.3);
    background-color: #fff;
    width: 100%;
    top: 42px;
    padding-top: 16px;
    width: 122px;
    z-index: 111;
    display: none;
    padding-bottom: 2px;
}

.select-list{
    max-height: 271px;
    overflow-y: scroll;
    max-width: 118px;
}

.select-list::-webkit-scrollbar{
    width: 4px;
    background-color: transparent;
    border-radius: 6px;
}

.select-list::-webkit-scrollbar-track{
    padding-top: 16px;
    background-color: transparent;
    border-radius: 100px;
}

.select-list::-webkit-scrollbar-thumb{
    background-color: #d8dee8;
    border-radius: 100px;
}

.select-list li{
    font-size: 14px;
    padding-bottom: 16px;
    padding-left: 18px;
}

.select-list li:first-child{
    padding-top: 2px;
}

.radio-chk input[type=radio]{
    display: none;
}

.radio-icon{
    width: 30px;
    height: 30px;
    background-image: url('../img/icons/radiobtn-off.png');
    display: inline-block;
    background-size: 30px 30px;
    position: relative;
    top: 6px;
}

.radio-chk input[type=radio]:checked + .radio-icon{
    background-image: url('../img/icons/radiobtn-on.png');
}

.radio-chk input[type=radio]:checked + .radio-icon + .info span.name{
    color: #1960eb;
}
/* form */

/* display */
.display-none{
    display: none;
}

.block{
    display: block;
}

.inline{
    display: inline;
}

.flex{
    display: flex;
}

.inline-block{
    display: inline-block;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear::after{
    display: block;
    content: '';
    clear: both;
}
/* display */

/* width */
.wid100per{
    width: 100%;
}

.wid122p{
    width: 122px !important;
}
/* width */

/* position */
.relative{
    position: relative;
}
/* position */

/* scroll */
.not_scroll{
    overflow: hidden !important;
    width: 100% !important;
}
/* scroll */

/* header-nav */
.header-nav{
    position: relative;
    height: 58px;
    line-height: 58px;
    padding: 0 20px;
}

.header-nav .icon{
    position: absolute;
    top: 15px;
}

.header-nav .nav-title{
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 16px;
}

.nav-list li:first-child{
    margin-right: 24px;
}

.nav-list li{
    float: left;
    font-size: 22px;
    font-weight: bold;
}

.nav-list li span.count{
    background-color: #34373c;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    height: 22px;
    line-height: 22px;
    padding: 0 6px;
    border-radius: 6px;
    margin-left: 8px;
    display: inline-block;
    position: relative;
    position: relative;
    top: -1px;
}

.nav-list li.active{
    color: #1960eb;
    padding-bottom: 8px;
    border-bottom: 4px solid #1960eb;
}

.nav-list li.active span.count{
    background-color: #1960eb;
}
/* header-nav */

.notification{
    color: #89909d;
    font-size: 14px;
    text-align: center;
}

.add button{
    border: 1px solid #1960eb;
    border-radius: 4px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-family: inherit;
    letter-spacing: inherit;
    color: #1960eb;
    font-size: 14px;
}

.transaction-list > ul > li,
.sale-list:not(.history-list) > ul > li{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 2px 6px 16px 0 rgba(57, 130, 220, 0.3);
    padding: 20px;
}

.transaction-list > ul > li > ul > li,
.sale-list > ul > li > ul > li{
    float: left;
    width: 100%;
    font-size: 14px;
}

.transaction-list > ul > li > ul > li:not(:last-child):not(.mr-b0),
.sale-list > ul > li > ul > li:not(:last-child):not(.mr-b0){
    margin-bottom: 10px;
}

.transaction-list > ul > li > ul > li span.color-gray,
.sale-list:not(.history-list) > ul > li > ul > li span.color-gray{
    color: #89909d;
    padding-right: 31px;
    min-width: 38px;
    display: inline-block;
}

.transaction-list > ul > li > ul > li button,
.sale-list > ul > li > ul > li button{
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    border-radius: 4px;
    width: 100%;
    font-family: inherit;
    letter-spacing: inherit;
    padding: 0;
}

.transaction-list > ul > li > ul > li.completed button img,
.sale-list > ul > li > ul > li.progress-end button img{
    margin-right: 8px;
    position: relative;
    top: 6px;
}

.transaction-list > ul > li > ul > li span.date,
.sale-list > ul > li > ul > li span.date,
.history-list > ul > li > ul > li span.date{
    float: right;
    color: #89909d;
}

/* modal */
.modal-full{
    position: fixed;
    bottom: -100vh;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    opacity: 0;
    visibility: hidden;
}

.modal-full.active{
    bottom: 0;
    opacity: 1;
    visibility: visible;
}

.modal-full .btn-wrap{
    position: absolute;
}

.modal{
    margin: 0 auto;
    margin: 0 35px;
    width: calc(100% - 70px);
    background-color: #fff;
    position: fixed;
    transform: translateY(-50%);
    top: 50vh;
    border-radius: 10px;
    box-shadow: 0 -1px 10px 0 rgba(70, 87, 154, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: all.3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
}

.modal.active{
    opacity: 1;
    visibility: visible;
}

.modal .modal-content{
    padding: 35px 0;
    text-align: center;
}

.modal .modal-content p{
    line-height: 1.57;
}

.modal .modal-btn{
    border-top: 1px solid #ebecf2;
    padding: 20px 0;
}

.modal .modal-btnTxt{
    text-align: center;
    margin: 0 auto;
    font-family: inherit;
    display: block;
    font-size: 14px;
    color: #1960eb;
    font-weight: bold;
}
/* modal */

/* 공통 nav */
.overlay, .overlay-modal{
    background-color: rgba(52, 55, 60, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: none;
}

.nav-menu{
    width: 238px;
    height: 100vh;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1111;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -278px;
    transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
}

.nav-menu .nav-icon-box{
    padding-top: 64px;
}

.nav-menu section.info{
    padding-bottom: 40px;
    border-bottom: 1px solid #d8dee8;
    margin-bottom: 40px;
}

.nav-menu section.info,
.nav-menu ul.list,
.nav-menu .nav-btn-wrap button{
    margin-left: 5px;
    margin-right: 5px;
}

.nav-menu ul.list li{
    font-size: 16px;
    font-weight: bold;
}

.nav-menu ul.list li:not(:last-child){
    margin-bottom: 40px;
}

.nav-menu .nav-btn-wrap{
    position: absolute;
    bottom: 36px;
    width: inherit;
}

.nav-menu .nav-btn-wrap button{
    border: 1px solid #d8dee8;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    width: calc(100% - 10px);
    border-radius: 4px;
    font-family: inherit;
    padding: 0;
}
/* 공통 nav */

.line-box{
    height: 10px;
    background-color: #f3f4f9;
    width: 100%;
    border: none;
}

#modalAlertMobile {
    margin: 0;
    width: 100vw;
    border-radius: 0;
}
#modalAlertMobile.modal-type-alert .btn-theme {
    width: 100%;
    border: none;
}
#modalAlertMobile .modal-header {
    text-align: center;
    padding: 35px 0;
    border-bottom: 0;
    /*font-size: 18px !important;*/
}
#modalAlertMobile .modal-footer {
    font-size: 14px;
    border-top: 1px solid #ebecf2;
}
#modalAlertMobile .modal-footer.confirm {
    padding-top: 0;
    border-top: none;
}
#modalAlertMobile .modal-footer.confirm .btn {
    width: 100%;
    height: 60px;
}
#modalAlertMobile .modal-footer.confirm .btn:first-child {
    margin-bottom: 9px;
}
#modalAlertMobile .modal-footer.confirm .btn-outline-theme{
    background-color: #1981eb;
    border: 1px solid #1981eb;
    color: white;
}
#modalAlertMobile .modal-backdrop-cancel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
}
#modalAlertMobile .modal-dialog {
    margin: 0 35px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
#modalAlertMobile .modal-title {
    font-size: 16px;
    color: #34373c;
    line-height: 1.57;
    margin-left: 15px;
    margin-right: 15px;
}
#modalAlertMobile .modal-content {
    box-shadow: none;
    background-color: #fff;
    border-radius: 10px;
    width: calc(100vw - 60px);
    padding: 0;
}
#modalAlertMobile h1 {
    font-size: 20px;
    font-weight: normal;
    font-family: SpoqaB;
    text-align: left;
    margin-bottom: 30px;
}
#modalAlertMobile b {
    font-weight: normal;
    font-family: SpoqaB;
    text-align: left;
    display: block;
}
#modalAlertMobile b:not(.fs20):not(.mr30) {
    font-size: 15px;
    margin-bottom: 12px;
}
#modalAlertMobile .modal-footer .btn + .btn {
    margin-left: 0;
    height: 56px;
    line-height: 56px;
    padding: 0;
    color: #1960eb;
    font-weight: bold;
}
#modalAlertMobile .modal-footer button{
    font-family: inherit;
    font-size: 14px;
}
#modalAlertMobile .modal-footer:not(.confirm) .btn + .btn {
    /* color: #fff; */
    /* background-color: #1981eb; */
}
#modalAlertMobile .modal-footer.confirm .btn-theme{
    /* border: 1px solid #d8dee8; */
    /* color: #34373c; */
    /* background-color: #fff; */
}

.modal.fade.in {
    display: flex !important;
    justify-content: center;
    padding-right: 0;
    background-color: rgba(52, 55, 60, .7);
    height: 100%;
    visibility: visible;
    opacity: 1;
}

.modal.fade.out {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    background-color: rgba(52, 55, 60, .85);
}
.fade.out {
    opacity: 0;
}

.width-15{
    width: 15%;
}


.box-radio-input input[type="radio"]{
    display:none;
}

.box-radio-input input[type="radio"] + span{
    display:inline-block;
    background:none;
    border:1px solid #dfdfdf;
    padding:0px 10px;
    text-align:center;
    height:35px;
    line-height:33px;
    font-weight:500;
    cursor:pointer;
}

.box-radio-input input[type="radio"]:checked + span{
    border:1px solid #1960eb;
    background:#1960eb;
    color:#fff;
}