/* Main */
#Main .logo, #Main .main-text{
    padding: 0 50px;
}

#Main .main-text p{
    line-height: 1.33;
}


#Main section.login-before{
    padding-top: 120px;
}

#Main section.login-before .main-text p{
    font-size: 36px;
}

#Main .btn-wrap img.band-logo{
    margin-right: 12px;
    position: relative;
    top: 8px;
}

#Main section.login-impossible{
    padding-top: 45px;
}

#Main section.login-impossible .main-text p.description{
    font-size: 14px;
    margin-top: 26px;
    line-height: 1.86;
}


/* Main */

/* Login */
#Login .selectbox,
#remittance .selectbox,
#profile .selectbox{
    width: 122px;
    margin-right: 12px;
}

#Login .selectbox + .select-list-box + input,
#remittance .selectbox + .select-list-box + input,
#profile .selectbox + .select-list-box + input{
    width: calc(100% - 134px); 
}
/* Login */

/* search */
#search .container .search{
    border-radius: 4px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    border: 1px solid #1960eb;
    /*width: calc(100% - 58px);*/
    width: 100%;
    padding: 0;
    background-image: url('../img/icons/searchbar.png');
    background-repeat: no-repeat;
    background-position-x: 18px;
    background-position-y: center;
    padding-left: 58px;
    font-weight: bold;
}

#search .container .search::placeholder{
    color: #c5ccd8;
    font-weight: normal;
}

#search .container .list li{
    border-bottom: 1px solid #ebecf2;
    padding-bottom: 16px;
}

#search .container .list li:not(:last-child){
    margin-bottom: 16px;
}

#search .container .list li b{
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: bold;
}

#search .container .list li span{
    font-size: 12px;
}

#search .container .impossible:not(.display-none){
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: calc(100vh - 140px);
}

#search .container .impossible p.impossible-text{
    font-size: 14px;
    text-align: center;
    line-height: 1.43;
    margin-bottom: 20px;
}

#search .container .impossible button.impossible-btn{
    color: #fff;
    background-color: #1960eb;
    border-radius: 6px;
    height: 57px;
    line-height: 57px;
    padding: 0 42px;
    font-size: 16px;
    font-family: inherit;
    margin: 0 auto;
    display: block;
}

/* search */

/* serachAdd */
#searchAdd .header-nav{
    padding-left: 15px;
}

#searchAdd form ul li.price::after{
    content: '원';
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 36px;
    color: #89909d;
    font-size: 18px;
}

#searchAdd .modal-full .info ul li,
#purchaseSale .modal-full .info ul li{
    display: flex;
    font-size: 16px;
}

#searchAdd .modal-full .info ul li:not(:last-child),
#purchaseSale .modal-full .info ul li:not(:last-child){
    margin-bottom: 10px;
}

#searchAdd .modal-full .info ul li span.color-gray,
#purchaseSale .modal-full .info ul li span.color-gray{
    display: block;
    min-width: 58px;
    margin-right: 23px;
}

#searchAdd .title .title-info-box{
    background-color: #f0f8ff;
    border-radius: 5px;
    padding: 18px;
    margin-top: 14px;
    color: #145ba4;
    display: flex;
    align-items: center;
}

#searchAdd .address-select{
    display: flex;
}

#searchAdd .address-select li{
    border-radius: 4px;
    line-height: 34px;
    height: 34px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    width: 76px;
    background-color: #f3f4f9;
    color: #89909d;
}

#searchAdd .address-select li.active{
    background-color: #1960eb;
    color: #fff;
}

#searchAdd .address-search{
    border: 1px solid #1960eb;
    border-radius: 4px;
    padding: 0 15px;
    line-height: 30px;
    height: 30px;
    color: #1960eb;
    font-family: inherit;
    position: absolute;
    right: 0;
    top: -2px;
}

#searchAdd .address-list{
    display: none;
}

#searchAdd .address-list li{
    padding-bottom: 16px;
    border-bottom: 1px solid #ebecf2;
}

#searchAdd .address-list li:not(:first-child){
    padding-top: 16px;
}

#searchAdd .address-list li .right{
    color: #c5ccd8;
    font-size: 14px;
    display: flex;
    align-items: center;
    position: relative;
    top: 8px;
}

#searchAdd .radio-icon{
    background-image: url('../img/icons/select-1.png');
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    top: 0;
    margin-right: 6px;
}

#searchAdd .address-list li input[type=radio]:checked + div.clear > div.left,
#searchAdd .address-list li input[type=radio]:checked + div.clear > div.left span,
#searchAdd .address-list li input[type=radio]:checked + div.clear > div.right{
    color: #1960eb !important;
}

#searchAdd .address-list li input[type=radio]:checked + div.clear > div.right > .radio-icon{
    background-image: url('../img/icons/select-2.png');
}
/* serachAdd */

/* purchaseSale */
#purchaseSale .sale-view{
    display: none;
}
/* purchaseSale */

/* remittance */
#remittance .remittanceSelect-list li{
    height: 34px;
    line-height: 34px;
    border-radius: 4px;
    background-color: #f3f4f9;
    color: #89909d;
    font-weight: bold;
    font-size: 13px;
    width: 76px;
    text-align: center;
}

#remittance .remittanceSelect-list li:first-child{
    margin-right: 10px;
}

#remittance .remittanceSelect-list li.active{
    background-color: #1960eb;
    color: #fff;
}

#remittance .myAccount ul li:not(:first-child){
    margin-top: 24px;
}

#remittance .writeAccount{
    display: none;
}

#history .history-nav{
    border-bottom: 1px solid #ebecf2;
}

#history .history-nav li{
    font-size: 16px;
    font-weight: bold;
    width: 50%;
    text-align: center;
    padding-bottom: 14px;
    transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    border-bottom: 2px solid transparent;
}

#history .history-nav li span.count{
    margin-left: 6px;
}

#history .history-nav li.active{
    border-bottom-color: #1960eb;
    color: #1960eb;
    position: relative;
}

#history .history-list > ul > li > ul{
    padding: 25px;
}

#history .history-list > ul > li > ul > li{
    font-size: 14px;
}

#history .history-list > ul > li > ul > li:not(:last-child){
    margin-bottom: 10px;
}

#history .history-list > ul > li > ul > li span.color-gray{
    min-width: 38px;
    margin-right: 31px;
    display: inline-block;
}

#history .sale-list{
    /* display:none; */
}
/* remittance */

/* trnscRgstr */
#trnscRgstr .transaction-list li,
#trnscRgstr .address-list li{
    display: flex;
    font-size: 16px;
}

#trnscRgstr .transaction-list li:not(:last-child),
#trnscRgstr .address-list li:not(:last-child){
    margin-bottom: 10px;
}

#trnscRgstr .transaction-list li .color-gray,
#trnscRgstr .address-list li .color-gray{
    min-width: 58px;
    margin-right: 23px;
}
/* trnscRgstr */