
.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*
 * See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
/*@-ms-viewport     { width: device-width; }*/
/*@-o-viewport      { width: device-width; }*/
/*@viewport         { width: device-width; }*/

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

input {
    -webkit-appearance: none;
}

textarea{
    -webkit-appearance: none;
}

/* Custom default button */
.btn-login {
    background-color: #005aff;
    border-color: #005aff;
}

.btn-login:hover {
    background-color: #0f228b;
    color: #fff;
}


/*
 * Base structure
 */


body {
    color: #fff;
    text-align: center;
    height: 100%;
    background-color: #2196F3;
    /*background-image: linear-gradient(to right bottom, #007bff, #0087ff, #0092ff, #189cff, #32a6ff);*/

    width: 100%;
}

@media (min-height: 501px) {
    body {
        height: 100%;
        background-color: #2196F3;
        /*background-image: linear-gradient(to right bottom, #007bff, #0087ff, #0092ff, #189cff, #32a6ff);*/
        width: 100%;
        position: fixed;
    }
}

/*.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #2196F3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}*/

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    /*background-image: linear-gradient(to right bottom, #2196f3, #4a92e9, #608ddf, #6e8ad5, #7986cb);*/
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
    float: left;
    margin-top: -2px;
    margin-bottom: 10px;
}

.masthead {
    width: 100%;
    position: fixed;
    top: 0;
}

/*.masthead-brand {
  margin-top: 0px;
  margin-bottom: 10px;
}*/

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #00E5FF;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}

@media (min-width: 350px) {
    .masthead-brand {
        font-size: 20px;
        float: left;
    }
    .masthead-nav {
        float: right;
        padding-right: 0px;
    }
}

@media (max-width: 349px) {
    .masthead-brand {
        display: none;
    }
    .masthead-nav {
        float: none;
    }
}

@media (max-height: 500px) {
    .cover {
        /*padding: 80px;*/
    }
    .mastfoot{
        display: none;
    }
    .masthead{
        position: static;
    }

    @media (min-width: 768px){
        .masthead, .mastfoot, .cover-container {
            width: 100%;
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 0px;
            position: static;
        }
    }

    @media (min-width: 815px){
        .masthead {
            position: static;
            top: 0;
        }
    }

}


/*  .masthead-nav {
    float: right;
  }*/


/*
 * Cover
 */

/*.cover {
  padding: 0 20px;
}*/

.cover .btn-lg:hover {
    background-color: #0f228b;
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    .cover-heading {
        font-size: 30px;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .cover-heading {
        font-size: 1.8em;
    }
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    .cover-sub {
        font-size: 16px;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .cover-sub {
        font-size: 1em;
    }
}

/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-right: 60px;
}

@media (max-width: 814px){
    .mastfoot {
        position: fixed;
        bottom: 0;
        padding-right: 0px;
    }
}


/*
 * Affix and center
 */

@media (min-width: 815px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
        padding-right: 80px;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    /*.masthead,*/
    .cover-container {
        /*    width: 80%;  Must be percentage or pixels for horizontal alignment */

        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: -50px;
        /*position: static;*/

    }
}

@media (min-width: 992px) {
    /*.masthead,*/
    .cover-container {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: -50px;
        /*position: static;*/
    }
}

@media (min-width: 1100px) {
    /*.masthead,*/
    .cover-container {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: -50px;
        /*position: static;*/
    }
}

.shadow{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


